<ion-tabs class="tabs-icon-top tabs-balanced">

  <!-- Config Tab -->
  <ion-tab title="Configuration" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/setup/config">
    <ion-nav-view name="config"></ion-nav-view>
  </ion-tab>

  <!-- Phase 1 Tab -->
  <ion-tab title="Phase 1" icon-off="ion-steam" icon-on="ion-steam" href="#/setup/phase1">
    <ion-nav-view name="phase1"></ion-nav-view>
  </ion-tab>

  <!-- Phase 2 Tab -->
  <ion-tab title="Phase 2" icon-off="ion-pull-request" icon-on="ion-pull-request" href="#/setup/phase2">
    <ion-nav-view name="phase2"></ion-nav-view>
  </ion-tab>

  <!-- Phase 3 Tab -->
  <ion-tab title="Phase 3" icon-off="ion-network" icon-on="ion-network" href="#/setup/phase3">
    <ion-nav-view name="phase3"></ion-nav-view>
  </ion-tab>

</ion-tabs>