<ion-view title="Setup" left-buttons="leftButtons">

  <ion-tabs class="tabs-icon-top tabs-positive">

    <!-- Phase 1 Tab -->
    <ion-tab title="Phase 1" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear">
      <ion-content has-header="true" padding="true">
        <h2>Phase 1 Content</h2>
      </ion-content>
    </ion-tab>

    <!-- Phase 2 Tab -->
    <ion-tab title="Phase 2" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear">
      <ion-content has-header="true" padding="true">
        <h2>Phase 1 Content</h2>
      </ion-content>
    </ion-tab>

    <!-- Phase 3 Tab -->
    <ion-tab title="Phase 3" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear">
      <ion-content has-header="true" padding="true">
        <h2>Phase 1 Content</h2>
      </ion-content>
    </ion-tab>

  </ion-tabs>

</ion-view>