<ion-view view-title="Configuration">
  <ion-content has-header="true">
  	
  	<div class="list">
  		<div class="item item-checkbox-group">
  			<div class="checkbox-label">
  				Players
  			</div>
  			<div class="checkbox-group">
  				<label ng-repeat="player in players" class="checkbox checkbox-stable {{ player }}">
  					<input type="checkbox" name="players" value="{{ player }}" ng-checked="sPlayers.indexOf(player) > -1" ng-click="update()">
  				</label>
			</div>
  		</div>
  		<!-- <div class="item item-input item-select">
  			<div class="input-label">Number of Players</div>
			<select ng-options="player as player for player in players" ng-model="sPlayers" ng-change="update()" disabled></select>
  		</div> -->
  		<div class="item item-input item-select">
  			<div class="input-label">Map</div>
			<select ng-options="map as map.name for map in maps track by map.id" ng-model="sMap" ng-change="update()"></select>
  		</div>
  		<div class="item item-input item-select">
  			<div class="input-label">Deck</div>
			<select ng-options="deck as deck.name for deck in decks track by deck.id" ng-model="sDeck" ng-change="update()"></select>
  		</div>
	</div>

  </ion-content>
</ion-view>
